main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        h1 {
            color: var(--header-color);
            font-size: 1.5rem;
        }

        .input_theme_index_container {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 1rem;

            .theme-label {
                color: var(--header-color);
                font-size: .65rem;
            }

            .theme_index {
                display: flex;
                justify-content: space-between;

                span {
                    color: var(--header-color);
                    margin-bottom: .25rem;
                }
            }

            .theme_text_container {
                display: flex;
                flex-direction: column;
                align-items: center;

                div {
                    display: flex;
                    justify-content: space-between;
                    gap: 1.35rem;
                }
            }
        }

        .range {
            width: 4rem;
            height: 1rem;
            -webkit-appearance: none;
            background: transparent;
            display: flex;
            align-items: center;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 2em;
                background: var(--range-equal-color);
            }

            &::-webkit-slider-runnable-track {
                height: 1.25rem;
                border-radius: 2rem;
                background: var(--bg-color-2);
            }
        }
    }

    .calculator_display {
        width: 288px;
        height: 61px;
        background-color: var(--bg-color-2);
        border: none;
        color: $equal-text-theme1;
        font-family: Spartan, sans-serif;
        text-align: right;
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: .5rem;
    }

    .keys_container {
        background-color: var(--bg-color-2);
        border-radius: .5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .75rem;
        width: 288px;

        .keys_row {
            display: flex;
            justify-content: space-between;

            .key {
                width: 3.5rem;
                height: 3.5rem;
                font-family: inherit;
                color: $number-operator-text-theme1;
                background: $number-operator-keybg-theme1;
                border: none;
                border-radius: .4rem;
                font-size: 1.25rem;
                border-bottom: .25rem solid $number-operator-shadow-theme1;
                
                &:active {
                    border-bottom: none !important;
                }
            }

            .delete {
                background: var(--reset-del-color);
                color: $reset-del-equal-text-theme1;
                font-size: .9rem;
                border-bottom: .25rem solid $reset-del-shadow-theme1;
            }
        }

        .reset_equals_container {
            @extend .keys_row;

            .reset {
                @extend .delete, .key;
                border-bottom: .25rem solid $reset-del-shadow-theme1;
            }

            .equals {
                @extend .reset;
                width: 7.625rem;
                background-color: var(--range-equal-color);
                border-bottom: .25rem solid $equal-shadow-theme1;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        header {
            h1 {
                font-size: 1.75rem;
            }
        }

        .calculator_display {
            width: 375px;
            height: 81px;
            padding: 1.5rem;
            font-size: 1.75rem;
        }

        .keys_container {
            width: 375px;

            .keys_row {
                .key {
                    width: 4.75rem;
                    height: 3.75rem;
                    font-size: 1.5rem;
                }

                .delete {
                    font-size: 1.1rem;
                }
            }

            .reset_equals_container {
                .equals {
                    width: 10.25rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        header {
            h1 {
                font-size: 2rem;
            }
        }

        .calculator_display {
            width: 450px;
            height: 94px;
            padding: 1.75rem;
            font-size: 2rem;
        }

        .keys_container {
            width: 450px;

            .keys_row {
                .key {
                    width: 6rem;
                    height: 4rem;
                    font-size: 1.75rem;
                }

                .delete {
                    font-size: 1.15rem;
                }
            }

            .reset_equals_container {
                .equals {
                    width: 12.7125rem;
                }
            }
        }
    }
}