main {
    padding: 1rem;
    // width: 100%;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    header {
        h1 {
            color: $reset-del-equal-text-theme1;
            font-size: 1.5rem;
        }
    }

    form {
        
        .calculator_display {
            width: 288px;
            background-color: $keypad-toggle-background-theme1;
            border: none;
            color: $equal-text-theme1;
            font-family: Spartan, sans-serif;
            text-align: right;
            padding: 1rem;
            font-size: 1.5rem;
            border-radius: .5rem;
        }
    }

    .keys_container {
        background-color: $keypad-toggle-background-theme1;
        border-radius: .5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .75rem;
        width: 288px;

        .keys_row {
            display: flex;
            justify-content: space-between;

            .key {
                width: 3.5rem;
                height: 3.5rem;
                font-family: inherit;
                color: $number-operator-text-theme1;
                background: $number-operator-keybg-theme1;
                border: none;
                border-radius: .4rem;
                font-size: 1.25rem;
                border-bottom: .25rem solid $number-operator-shadow-theme1;
            }

            .delete {
                background: $reset-del-keybg-theme1;
                color: $reset-del-equal-text-theme1;
                font-size: 1rem;
                border-bottom: .25rem solid $reset-del-shadow-theme1;
            }
        }

        .reset_equals_container {
            @extend .keys_row;

            .reset {
                @extend .delete, .key;
                width: 7.725rem;
                height: 3.5rem;
                border-bottom: .25rem solid $reset-del-shadow-theme1;
            }

            .equals {
                @extend .reset;
                // width: 7.725rem;
                // height: 3.5rem;
                background: $equal-keybg-togglebg-theme1;
                border-bottom: .25rem solid $equal-shadow-theme1;
            }
        }
        
    }
}