@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

/*COLOR SCHEME 1*/
$main-background-theme1:/*(main background)*/ hsl(222, 26%, 31%);
$keypad-toggle-background-theme1:/*(toggle background, keypad background)*/ hsl(223, 31%, 20%);
$input-background-theme1:/*(screen background)*/ hsl(224, 36%, 15%);
//Keys
$reset-del-keybg-theme1:/*(key background)*/ hsl(225, 21%, 49%);
$reset-del-shadow-theme1:/*(key shadow)*/ hsl(224, 28%, 35%);
$equal-keybg-togglebg-theme1:/*(key background, toggle)*/ hsl(6, 63%, 50%);
$equal-shadow-theme1:/*(key shadow)*/ hsl(6, 70%, 34%);
$number-operator-keybg-theme1:/*(key background)*/ hsl(30, 25%, 89%);
$number-operator-shadow-theme1:/*(key shadow)*/ hsl(28, 16%, 65%);
// Text
$number-operator-text-theme1: hsl(221, 14%, 31%);
$equal-text-theme1: hsl(0, 0, 100%);
$reset-del-equal-text-theme1: hsl(0, 0, 100%);

/*COLOR SCHEME 2*/
$main-background-theme2:/*(main background)*/ hsl(0, 0%, 90%);
$keypad-toggle-background-theme2:/*(toggle background, keypad background)*/ hsl(0, 5%, 81%);
$input-background-theme2:/*(screen background)*/ hsl(0, 0%, 93%);
//Keys
$reset-del-keybg-theme2:/*(key background)*/ hsl(185, 42%, 37%);
$reset-del-shadow-theme2:/*(key shadow)*/ hsl(185, 58%, 25%);
$equal-keybg-togglebg-theme2:/*(key background, toggle)*/ hsl(25, 98%, 40%);
$equal-shadow-theme2:/*(key shadow)*/ hsl(25, 99%, 27%);
$number-operator-keybg-theme2:/*(key background)*/ hsl(45, 7%, 89%);
$number-operator-shadow-theme2:/*(key shadow)*/ hsl(35, 11%, 61%);
// Text
$number-operator-text-theme2: hsl(60, 10%, 19%);
$equal-text-theme2: hsl(0, 0, 100%);
$reset-del-equal-text-theme2: hsl(0, 0, 100%);

/*COLOR SCHEME 3*/
$main-background-theme3:/*(main background)*/ hsl(268, 75%, 9%);
$keypad-toggle-background-theme3:/*(toggle background, keypad background, screen background)*/ hsl(268, 71%, 12%);
// Keys
$reset-del-keybg-theme3:/*(key background)*/ hsl(281, 89%, 26%);
$reset-del-shadow-theme3:/*(key shadow)*/ hsl(285, 91%, 52%);
$equal-keybg-togglebg-theme3:/*(key background, toggle)*/ hsl(176, 100%, 44%);
$equal-shadow-theme3:/*(key shadow)*/ hsl(177, 92%, 70%);
$number-operator-keybg-theme3:/*(key background)*/ hsl(268, 47%, 21%);
$number-operator-shadow-theme3:/*(key shadow)*/ hsl(290, 70%, 36%);
// Text
$number-operator-text-theme3: hsl(52, 100%, 62%);
$equal-text-theme3: hsl(198, 20%, 13%);
$reset-del-text-theme3:/*(text)*/ hsl(0, 0, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: Spartan, sans-serif;
    font-weight: 700;
}

