@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
/*COLOR SCHEME 1*/
/*COLOR SCHEME 2*/
/*COLOR SCHEME 3*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Spartan, sans-serif;
  font-weight: 700;
  background-color: #3a4764;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s;
  transition: .2s;
}

main {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main header h1 {
  color: white;
  font-size: 1.5rem;
}

main header .input_theme_index_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1rem;
}

main header .input_theme_index_container span {
  color: white;
  font-size: .65rem;
}

main header .input_theme_index_container .theme_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main header .input_theme_index_container .theme_index span {
  color: white;
  margin-bottom: .25rem;
}

main header .input_theme_index_container .theme_text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .input_theme_index_container .theme_text_container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.35rem;
}

main header .range, main header .range2, main header .range3 {
  width: 4rem;
  height: 1rem;
  -webkit-appearance: none;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .range::-webkit-slider-thumb, main header .range2::-webkit-slider-thumb, main header .range3::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 2em;
  background: #d03f2f;
}

main header .range::-webkit-slider-runnable-track, main header .range2::-webkit-slider-runnable-track, main header .range3::-webkit-slider-runnable-track {
  height: 1.25rem;
  border-radius: 2rem;
  background: #232c43;
}

main header .range2::-webkit-slider-thumb {
  background: #ca5502;
}

main header .range2::-webkit-slider-runnable-track {
  background: #d1cccc;
}

main header .range3::-webkit-slider-thumb {
  background: #00e0d1;
}

main header .range3::-webkit-slider-runnable-track {
  background: #1d0934;
}

main form .calculator_display {
  width: 288px;
  background-color: #232c43;
  border: none;
  color: white;
  font-family: Spartan, sans-serif;
  text-align: right;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: .5rem;
}

main .keys_container {
  background-color: #232c43;
  border-radius: .5rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .75rem;
  width: 288px;
}

main .keys_container .keys_row, main .keys_container .reset_equals_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .keys_container .keys_row .key, main .keys_container .reset_equals_container .key, main .keys_container .reset_equals_container .reset, main .keys_container .reset_equals_container .equals {
  width: 3.5rem;
  height: 3.5rem;
  font-family: inherit;
  color: #444b5a;
  background: #eae3dc;
  border: none;
  border-radius: .4rem;
  font-size: 1.25rem;
  border-bottom: 0.25rem solid #b4a597;
}

main .keys_container .keys_row .key:active, main .keys_container .reset_equals_container .key:active, main .keys_container .reset_equals_container .reset:active, main .keys_container .reset_equals_container .equals:active {
  border-bottom: none !important;
}

main .keys_container .keys_row .delete, main .keys_container .reset_equals_container .delete, main .keys_container .reset_equals_container .reset, main .keys_container .reset_equals_container .equals {
  background: #637097;
  color: white;
  font-size: .9rem;
  border-bottom: 0.25rem solid #404e72;
}

main .keys_container .reset_equals_container .reset, main .keys_container .reset_equals_container .equals {
  border-bottom: 0.25rem solid #404e72;
}

main .keys_container .reset_equals_container .equals {
  background: #d03f2f;
  border-bottom: 0.25rem solid #93261a;
}

@media screen and (min-width: 768px) {
  main header h1 {
    font-size: 1.75rem;
  }
  main form .calculator_display {
    width: 375px;
    padding: 1.5rem;
    font-size: 1.75rem;
  }
  main .keys_container {
    width: 375px;
  }
  main .keys_container .keys_row .key, main .keys_container .reset_equals_container .key, main .keys_container .reset_equals_container .reset, main .keys_container .reset_equals_container .equals {
    width: 4.75rem;
    height: 3.75rem;
    font-size: 1.5rem;
  }
  main .keys_container .keys_row .delete, main .keys_container .reset_equals_container .delete, main .keys_container .reset_equals_container .reset, main .keys_container .reset_equals_container .equals {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  main header h1 {
    font-size: 2rem;
  }
  main form .calculator_display {
    width: 450px;
    padding: 1.75rem;
    font-size: 2rem;
  }
  main .keys_container {
    width: 450px;
  }
  main .keys_container .keys_row .key, main .keys_container .reset_equals_container .key, main .keys_container .reset_equals_container .reset, main .keys_container .reset_equals_container .equals {
    width: 6rem;
    height: 4rem;
    font-size: 1.75rem;
  }
  main .keys_container .keys_row .delete, main .keys_container .reset_equals_container .delete, main .keys_container .reset_equals_container .reset, main .keys_container .reset_equals_container .equals {
    font-size: 1.15rem;
  }
}
/*# sourceMappingURL=style.css.map */